<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	bootstrap="bootstrap.php"
	colors="true"
	failOnWarning="true"
	failOnRisky="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutChangesToGlobalState="true">
	<testsuites>
		<testsuite name="Unit Tests">
			<directory>unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<report>
			<html outputDirectory="coverage/html"/>
			<text outputFile="php://stdout" showOnlySummary="true"/>
		</report>
	</coverage>
	<php>
		<const name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib"/>
		<!-- Disable Xdebug step debugging for tests (keeps coverage) -->
		<env name="XDEBUG_MODE" value="coverage"/>
	</php>
</phpunit>
